* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    
    /*width: 100%;*/
    text-align:center;
    border: 1px solid black;
}

#opis {
    padding-top: 5rem;
}